/**
* ! Reseting the default styling of browser...
**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(21, 19, 19);

}
i {
    cursor: pointer;
}
a{
    text-decoration: none;
    color: white;
}

/**
* ? Navbar styling......
**/

.navbar{
    background-color: black;
    color: white;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 30px;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
}

.cart{
    font-size: 30px;
    padding: 5px;
    position: relative;
}

.cart-amount{
    font-size: 16px;
    position: absolute;
    top: -12px;
    right: -12px;
    padding: 2px;
    
}

/* ? shop item style here......... */

.shop{
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 150px;

}
@media (max-width: 1000px){
    .shop{
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px){
    .shop{
        grid-template-columns: repeat(1, 223px);
    }
}

/* ! card styling here.......... */

.item{
    border-radius: 10px;
    background-color: #857c7c;

}
.item img {
    width: 100%;
    border-radius: 4px 4px 0 0;
    object-fit: fill;
}
.details{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 15px;

}

.price-qty{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button{
    display: flex;
    gap: 8px;
    font-size: 18px;
}

.qty {
    color: white;
}
.bi-dash-lg{
    color: red;
}
.bi-plus-lg{
    color: green;
}


/** 
* ! style for label and cart page buttons 
**/

.text-center {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 100px;
    color: whitesmoke;
}

.homeButton, 
.Checkout, 
.removeAll{
    background-color: rgb(46, 133, 246);
    color: white;
    border: none;
    padding: 6px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}
.Checkout{
    background-color: green;
}
.removeAll{
    background-color: red;
}
.bi-x-lg{
    color: red;
    font-weight: bold; 
}

.button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 30px;

}

/* 
! style  for cart card 
*/
.wish-list-cart{
    display: grid;
    grid-template-columns: repeat(1, 350px);
    justify-content: center;
    gap: 15px; 
}

/* 
! style  for each card 
*/



.cartItem{
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    width: 400px;
    height: 110px;
    color: red;
    
}

.details{
    margin-left: 10px;
    padding: 8px;
}

.item-price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 270px;

}

.name-price{
    display: flex;
    align-items: center;
    gap: 30px;
}

.price{
    background-color: white;
    color: red;
    padding: 2px;
    border-radius: 4px;
}

